<html>
<head>
	{{ content_for_header }}
	<title>{{ shop.name }} - {{ page_title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>untitled</title>
	{{ 'style.css'  | asset_url | stylesheet_tag }}
</head>

<body>
	{% section "header" %}

	{% section "aside" %}

	<main>
		<div class="wrapper">
			<div></div>
			<div>
				{{ content_for_layout }}
			</div>
		</div>		
	</main>
		
	{% if cart.item_count != 0 %}
		{% section "footer" %}
	{% endif %}

</body>
</html>