{% layout 'cart-layout' %}

{{ "cart.css" | asset_url | stylesheet_tag }}


<div class="cart__heading">
	<a href="/" class="back-link">
		<svg width="25" height="25" class="d-block" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M20 11H7.5L13.42 5.41L12 4L4.5 11C4.5 11 4 11.5 4 12C4 12.5 4.5 13 4.5 13L12 20L13.41 18.59L7.5 13H20V11Z" fill="#999999"/>
		</svg>		
	</a>

	<h1 class="black">Ваш заказ</h1>
</div>


{% if cart.item_count == 0 %}
	You have nothing in your cart.
{% endif %}

<div class="cart">

	<form action="{{ routes.cart_url }}" method="post">
		{% section "cart-lineitem" %}

		<input class="visually-hidden" id="update-cart" type="submit" value="Update cart">
		
		<div class="cart__footer">
			<div class="wrapper">
				<h2 class="black">
					К оплате: <span>{{ cart.total_price | money_with_currency }}</span> 
				</h2>
	
				<input class="button white black-bg" type="submit" name="checkout" value="Checkout">
			</div>			
		</div>
	</form>
	
</div>


{{ "cart-api.js" | asset_url | script_tag }}
{{ 'cart.js'  | asset_url | script_tag }}
