{{ "product.css" | asset_url | stylesheet_tag }}

<a href="/" class="back-link">
	<svg width="25" height="25" class="d-block" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
		<path d="M20 11H7.5L13.42 5.41L12 4L4.5 11C4.5 11 4 11.5 4 12C4 12.5 4.5 13 4.5 13L12 20L13.41 18.59L7.5 13H20V11Z" fill="#999999"/>
	</svg>		
</a>

<div class="product__image">
	{% render "picture", img: product, width: 160, height: 160, alt: product.title %} 
</div>

<div class="product__heading">
	<h1 class="black">{{ product.title }}</h1>
	<span class="gray-600">{{ product.variants.first.weight }} гр</span>
</div>

{% if product.description %}
<p class="product__description gray-500">
	{{ product.description }}
</p>
{% endif %}

{% unless product.metafields == empty %}
{% if product.metafields.my_fields._ccal or product.metafields.my_fields._fats or product.metafields.my_fields._carbohydrates or product.metafields.my_fields._proteins %}

<div class="product__stats">
	<h2 class="gray-500">Питательная ценность</h2>

	<div class="product__stats-container black">
		{% if product.metafields.my_fields._ccal %}
		<div class="product__stat">
			<h2>
				{{ product.metafields.my_fields._ccal }}
			</h2>
			<span class="gray-500">кКал</span>
		</div>
		{% endif %}

		{% if product.metafields.my_fields._fats %}
		<div class="product__stat">
			<h2>{{ product.metafields.my_fields._fats }} г</h2>
			<span class="gray-500">жиры</span>
		</div>
		{% endif %}

		{% if product.metafields.my_fields._carbohydrates %}
		<div class="product__stat">
			<h2>{{ product.metafields.my_fields._carbohydrates }} г</h2>
			<span class="gray-500">углеводы</span>
		</div>
		{% endif %}

		{% if product.metafields.my_fields._proteins %}
		<div class="product__stat">
			<h2>{{ product.metafields.my_fields._proteins }} г</h2>
			<span class="gray-500">белки</span>
		</div>
		{% endif %}
	</div>
</div>
{% endif %}

{% endunless %}

{%- form 'product', product, class:"product__form" -%}
	<input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
	<button type="submit" class="button product__buy-btn gray-300-bg black">
		<span>
			<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path d="M14.25 9.74848H9.75V14.2485H8.25V9.74848H3.75V8.24848H8.25V3.74848H9.75V8.24848H14.25V9.74848Z" fill="#00A3FF"/>
			</svg>
			{{product.price | money_with_currency}}
		</span>		
	</button>
	<input type="hidden" name="return_to" value="/" />
{%- endform -%}







